.cross-btn1{
    position: absolute;
    left: auto;
    right: 19px;
    padding: 1px 7px;
    top: 78px;
}
.cross-btn2{
    position: absolute;
    left: auto;
    right: 19px;
    padding: 1px 7px;
    top: 432px;
}
.cross-btn3{
    position: absolute;
left: auto;
right: 19px;
padding: 1px 7px;
top: 786px;
}